html,
body {
  height: 100%;
  margin: 0; }

.form {
  display: flex;
  justify-content: start;
  flex-direction: column;
  row-gap: 15px; }

.fontRegularPopins, .topHeader, .navegations, .footer {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal; }

.header {
  background-color: white;
  width: 100%;
  height: 90px;
  padding: 0; }
  .header a:first-child :hover {
    transform: scale(1.05); }
  .header h1 {
    font-family: "Prosto One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px; }

.title {
  margin-left: 120px; }

.header#withBorder {
  border-bottom: 1px solid #F5F5F5; }

.header#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto; }

.topHeader {
  background-color: white;
  width: 100%;
  font-size: 12px;
  color: "#33333"; }

.menuContainer {
  width: 100%;
  height: 100%;
  display: flex; }

.actions {
  display: flex;
  align-items: center;
  gap: 30px; }
  .actions .action {
    display: flex;
    align-items: end; }

.menu {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 5;
  padding: 70px 125px 55px 125px; }

.selectedItem {
  display: flex;
  align-items: center;
  gap: 30px;
  width: fit-content; }
  .selectedItem h1 {
    font-size: 16px;
    font-weight: 600;
    font-style: normal; }
  .selectedItem h1::before {
    display: inline-block;
    content: "";
    border-top: 2px solid #E0E0E0;
    width: 66px;
    transform: translateY(-5px);
    margin-right: 25px; }
  .selectedItem span::before {
    display: inline-block;
    content: "";
    border-top: 2px solid #E0E0E0;
    width: 66px;
    transform: translateY(-5px);
    margin-right: 25px; }

.list {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0; }
  .list p {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    opacity: 0.8;
    margin: 0;
    color: "#33333";
    margin: 0; }
  .list a {
    text-decoration: none;
    color: black; }

.list#compact {
  gap: 20px; }

.mainImg {
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  flex: 3;
  background: url("../assets/navegation.png"); }

.mainImg#women {
  background: url("../assets/women.png"); }

.mainImg#man {
  background: url("../assets/man.png"); }

.navegations {
  width: 100%;
  padding: 35px 133px;
  font-size: 12px;
  color: "#33333";
  display: flex;
  justify-content: space-between;
  opacity: 60%;
  box-sizing: border-box; }
  .navegations p {
    opacity: 100%;
    color: #000000;
    margin: 0; }

.content {
  padding: 35px 155px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 43px; }

.filtros {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: underline; }
  .filtros svg path {
    fill: #373535;
    stroke-width: 2; }

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 6px; }
  .breadcrumb a {
    text-decoration: none;
    color: "#33333"; }

.itemCard {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  color: "#33333"; }
  .itemCard p {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    opacity: 0.8;
    margin: 0; }

.cardInfo {
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding-top: 18px; }

.topFooter {
  height: 356px;
  width: 100%;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px; }

.item {
  color: #949494;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  margin-bottom: 10px; }

.items {
  margin-top: 21px; }

.sections {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 100px;
  overflow-wrap: break-word;
  text-wrap: wrap;
  word-break: break-all;
  padding: 20px;
  flex-wrap: wrap;
  row-gap: 10px; }

.socials {
  display: flex;
  gap: 20px;
  margin-top: 30px; }
  .socials svg {
    fill: white; }

.footer {
  height: 40px;
  width: 100%;
  color: #F2F2F2;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px; }

@media (max-width: 480px) {
  .mainImg {
    display: none; }
  .menu {
    padding: 20px 60px 25px 60px; }
  .sections {
    gap: 20px; }
  svg {
    margin-left: -15px; }
  .item,
  .topFooter {
    font-size: 12px; }
  .topFooter {
    height: auto;
    padding: 10px 0; }
  .socials {
    gap: 25px; }
  #contact {
    display: none; }
  .footer {
    text-align: center; }
  .topHeader {
    display: none !important; }
  #secondHeader {
    height: 100% !important;
    padding: 0 10px; }
    #secondHeader h1 {
      font-size: 14px;
      display: inline-block;
      margin-block-start: 0px;
      margin-block-end: 0px;
      margin-inline-start: 0px;
      margin-inline-end: 0px; }
    #secondHeader div:first-child {
      justify-content: start !important; }
    #secondHeader div:last-child {
      justify-content: end !important; }
  .header {
    height: 45px; }
  .actions div {
    display: none !important; }
  .actions div:last-child {
    display: flex !important; }
  .itemCard img {
    width: 140px; }
  .content {
    padding: 35px 30px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 35px; }
  .navegations {
    padding: 20px 30px; }
  .filtros svg,
  .breadcrumb svg {
    transform: scale(1); }
  .breadcrumb {
    gap: 20px; }
  .cardInfo {
    font-size: 9px; }
    .cardInfo p {
      font-size: 9px; } }
